In [16]:
#cd "C:\\Users\\GUNISH\\Desktop\\dataset_ML\\nearest airport"
import os
os.chdir("C:\\Users\\GUNISH\\Desktop\\dataset_ML\\nearest airport")


import pandas as pd
df_sample = pd.read_csv("sample_data.csv")
df_optd = pd.read_csv("optd-sample-20161201.csv")

In [18]:
display(df_sample.head())
display(df_sample.describe())

display(df_optd.head())
display(df_optd.describe())

                                   uuid  geoip_latitude  geoip_longitude
0  DDEFEBEA-98ED-49EB-A4E7-9D7BFDB7AA0B      -37.833302       145.050003
1  DAEF2221-14BE-467B-894A-F101CDCC38E4       52.516701         4.666700
2  31971B3E-2F80-4F8D-86BA-1F2077DF36A2       35.685001       139.751404
3  1A29A45C-D560-43D8-ADAB-C2F0AD068FFE       44.840401        -0.580500
4  A6EC281B-B8EC-465A-8933-F127472DB0A3       51.963299         4.499700

       geoip_latitude  geoip_longitude
count  1000000.000000   1000000.000000
mean        41.464102         9.348279
std         22.786836        44.966706
min        -54.799999      -176.133301
25%         40.856300         2.103700
50%         48.787201         6.766700
75%         52.330576        12.483900
max         77.377502       178.483307

  iata_code   latitude   longitude
0       AAA -17.352606 -145.509956
1       AAB -26.693170  141.047800
2       AAC  31.073330   33.835830
3       AAE  36.822225    7.809167
4       AAF  29.729380  -85.028800

          latitude    longitude
count  6889.000000  6889.000000
mean     23.066441    -8.083803
std      28.634449    93.056961
min     -54.920000  -179.876830
25%       0.579211   -85.969780
50%      31.780020    -3.471656
75%      44.830000    66.000000
max      79.994720   179.975370

In [47]:
import getopt
import sys
import pandas as pd
from scipy.spatial import cKDTree

def joinByGPS(input_file, output_file, max_distance_in_degree, n_jobs=1):

    print(">>> The process started...")

    # This operation needs to be outside of this scope. It has to be loaded once.
    # Reading open traveling data in csv format
    df_db = pd.read_csv("optd-sample-20161201.csv")
    print(">>> The open traveling data loading")

    # Cleaning missing data
    df_db = df_db.dropna()
    print(">>> Cleaning missing data on open traveling data")

    # Selecting the coordinate over the dataframe
    db_lat_long = df_db[["latitude", "longitude"]]

    # A kd-tree is being created to efficient querying since our data is spatial data
    # In searching/querying, the average time complexity is O(log N)
    # In searching/querying, the worst case time complexity is O(N)
    print(">>> Creating Kd-tree")
    kdtree = cKDTree(db_lat_long.values)
    print(">>> Created Kd-tree")

    # Reading input file and creating a dataframe
    df_input = pd.read_csv(input_file)
    print(">>> The input file read " + input_file)

    # Cleaning missing data
    df_input = df_input.dropna()
    print(">>> Cleaning missing data on the input data")

    # Selecting the coordinate over the dataframe
    input_lat_long = df_input[["geoip_latitude", "geoip_longitude"]]

    # We are applying whole data on the tree. The overall time complexity will be O(M * log N).
    # M denoted the number of rows in the input file, sample_data.csv.
    print(">>> Querying starting")
    d, idx = kdtree.query(input_lat_long.values,
                          k=1,
                          eps=0,
                          p=2,  # Euclidean distance
                          distance_upper_bound=max_distance_in_degree,
                          n_jobs=n_jobs)
    print(">>> Querying finished")


    # Selecting iata_code from the data, optd-sample-20161201.csv
    lhs_df = df_db["iata_code"]

    # Filtering the iata_code by index we collected the previous step
    lhs_df = lhs_df.loc[idx]

    # Filling empty string to get ride of unmatched fields value, NaN.
    n_null = lhs_df.isnull().sum()
    if n_null > 0:
        print (">>> Number of mismatching point : " + str(n_null))
        lhs_df = lhs_df.fillna("")
        print(">>> Mismatching fields replaced with empty string " + str(n_null))

    # After those operations above, we need to rearrange its index to start from 0 to M-1.
    lhs_df = lhs_df.reset_index(drop=True)

    # Selecting uuid from the data sample_data.csv
    rhs_df = df_input['uuid']

    # Creating a new dataframe
    print(">>> Starting concat operations")
    new_df = pd.concat([lhs_df, rhs_df], axis=1)
    print(">>> Completed concat operations")

    # Writing result to CSV file under sample_data directory
    new_df.to_csv(output_file, sep=',', index=False)

    print(">>> Done! please, check out the output file, " + output_file)

    return

In [50]:
#solution.py -i sample_data.csv -o result.csv -d 0.1 -j 10
joinByGPS("sample_data.csv","result.csv",0.1,10)

>>> The process started...
>>> The open traveling data loading
>>> Cleaning missing data on open traveling data
>>> Creating Kd-tree
>>> Created Kd-tree
>>> The input file read sample_data.csv
>>> Cleaning missing data on the input data
>>> Querying starting
>>> Querying finished

C:\Users\GUNISH\Anaconda2\lib\site-packages\ipykernel_launcher.py:56: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

>>> Number of mismatching point : 676501
>>> Mismatching fields replaced with empty string 676501
>>> Starting concat operations
>>> Completed concat operations
>>> Done! please, check out the output file, result.csv

In [52]:
pd.read_csv("result.csv")

       iata_code                                  uuid
0            NaN  DDEFEBEA-98ED-49EB-A4E7-9D7BFDB7AA0B
1            NaN  DAEF2221-14BE-467B-894A-F101CDCC38E4
2            NaN  31971B3E-2F80-4F8D-86BA-1F2077DF36A2
3            NaN  1A29A45C-D560-43D8-ADAB-C2F0AD068FFE
4            RTM  A6EC281B-B8EC-465A-8933-F127472DB0A3
5            NaN  B97F46E0-4B53-484D-ABDB-24971E47F404
6            NaN  4EA4ECE8-CB8C-43CE-B025-AB359171859A
7            NaN  AC401DCC-E123-4E60-8FB2-85AB94A39A38
8            SGD  239901B4-A29B-421C-BCD7-0385CA3130DC
9            NaN  09F6B075-E61D-4362-8BF7-6A10D628C329
10           NaN  8D1FAEB5-4CAB-4A91-A36A-D5C033F0EF4A
11           NaN  9D24022C-43A0-4DF7-B1E7-12B97B58FB8F
12           NUQ  DB918DCD-258A-420D-9562-871AF374B969
13           MAD  30121BDF-7479-4CC6-A15A-305BBDF1E6EE
14           ESS  AE7DD59C-31E2-4900-9BE0-720494FDDEC7
15           NaN  5BDBCF57-3102-4DCD-8C14-D8B16E80A2FD
16           NaN  F7D8AD35-136B-42C2-BA4E-67BD8A4597A7
17           BOS  9756C949-E5D6-48EF-BECB-E8C55B53AB0A
18           NaN  E188A625-7B38-4FAF-A8F1-68ECE6FBB0F6
19           LIS  6A07725E-8945-4950-910D-4015CFD50765
20           NaN  D26838CA-0B9A-405A-9289-C63FBCD790EE
21           NaN  22AF4EF5-55D6-4752-AFE9-D9D3AA5EA415
22           NaN  EE8E17DD-B75E-4E3A-A300-24AFED3BC531
23           NaN  25C602CB-CE3A-4A46-8D67-D7D7EBD4143F
24           THF  6BCA78F5-368E-452B-9E64-BD9B0580F9DC
25           NaN  168DC1E3-7B20-4098-A4D1-B3FD9DDEB0EE
26           NaN  666A9125-BD26-4511-8F92-846D305A69DF
27           NaN  2664A5D0-28BC-4086-B010-315881B2ECEE
28           NaN  E78A1DDA-F841-4246-8E60-92A80FC975DB
29           NaN  67E1F8F7-CC53-4FED-A3C0-4E305C771C4C
...          ...                                   ...
999970       NaN  7710D7CA-464E-459F-BB9A-C34D0DA7BEDE
999971       NaN  E5C0CD20-E6BC-47E6-9E8E-00A27C72344E
999972       NaN  CE494B14-DA4F-4ADE-974E-DACC2900A1E5
999973       NaN  4B249D9E-62D2-4828-99FE-0857C54DBAF5
999974       NaN  DEA02236-53C2-4CA1-B35A-E68E9B29F85E
999975       NaN  18D89B46-54BA-433C-A2F0-45E3768FBED9
999976       DUS  CB7236AE-FE13-46BF-89E6-E6AC1AEE7A3B
999977       NaN  67EA9C5F-8055-4251-9B22-D69BCD9BC4F8
999978       CDG  CB0E8825-4936-4003-A5FB-341F70EE7959
999979       THF  2C5A6C51-B873-4DBE-B72A-CD41C51974B4
999980       MBW  D00AF346-7097-4366-94E5-D45E86219479
999981       NaN  CCE27F1C-142C-448C-879A-1A8C4C9D33B5
999982       NaN  85725C2D-6310-4CB4-AA82-E6BF1E930525
999983       VAF  AE5B328A-5898-4A04-AD92-F4FFDAE10ABF
999984       NaN  C515CA81-DBF6-44FC-B812-6205A1DA40A8
999985       NaN  8403F9C7-EB06-4E9F-8FBC-ED313EA30321
999986       MST  2662968F-8EBF-4285-87F7-A6B802C6A09B
999987       SVQ  2BC64339-87C7-4A02-BBE3-4245A8E51695
999988       MPB  6D0911D9-75D5-4D7C-B0D2-CE17C765CCDC
999989       NaN  A3E503A3-4456-45EF-91F5-B531321028BF
999990       NaN  388151BD-9116-4EAD-9F3C-AFBF62A11B2D
999991       HOH  B765A984-C562-4CBA-B575-1F83FD824209
999992       NaN  BC3E5C0A-4E44-46EA-9A64-A41F3306F489
999993       BDO  0ED189DF-4C8C-4D49-920D-BA364479E2AB
999994       NaN  D303FD92-C2BD-4DE1-BB61-F0D36D1DE145
999995       BRE  E54ECDFB-AB67-44A5-B493-618335B1F53C
999996       NaN  2D6F2AEF-2D07-40EC-BFA4-37E5CEA6BB71
999997       NaN  A43AEDEA-9B98-4551-929A-DF9DAB109FFF
999998       RTM  CA5985E2-3507-491C-86DF-DC4A99CB1684
999999       NaN  65B26A68-9236-4609-B6CB-3235EB831CF3

[1000000 rows x 2 columns]